/*global css*/

body{
  background-color: #171717;
  min-height: 100vh;
  margin: 0;
}
.el-card{
  border: 0;
}

.basic-container{
  background-color: rgba(32,32,32,0.7);
  transition: 0.5s;
}

.basic-container:hover{
  transform: scale3d(102%,102%,100%);
  transition: 0.5s ease-in-out;
}

.basic-container span{
  display:block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 20;
}

.basic-container span::before{
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 100%;
  height: 100%;
  /*border-radius: 8px;*/
  background-color: rgb(32,32,32);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
}

.basic-container:hover span::before{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 0.5;
}
@keyframes animate{
  0%,
  100%{
    transform: translateY(50px);
  }
  50%{
    transform: translateX(-50px);
  }
}
/*.basic-container span::after{*/
/*  content: "";*/
/*  position: absolute;*/
/*  bottom: -100%;*/
/*  right: -100%;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: rgb(32,32,32);*/
/*  opacity: 0;*/
/*  transition: 0.5s;*/
/*  animation: animate 2s ease-in-out infinite;*/
/*  animation-delay: -1.5s;*/
/*}*/

/*.basic-container:hover span::after{*/
/*  bottom: -50px;*/
/*  right: 50px;*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  opacity: 0.5;*/
/*}*/
